#login
  - if @current_user
    %p.welcome  Welcome, #{@current_user.name}!
    %p= debug @current_user.name
    = link_to 'Log Out', logout_path, :method => :post
    %p.login= link_to 'Log in with your Twitter account', '/auth/twitter'
  - else
    %p.login= link_to 'Log in with your Twitter account', '/auth/twitter'
